<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.freemanrepo.mediaspeak7/reload</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.freemanrepo.mediaspeak7</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Speaking rate</string>
		</dict>
		<dict>
			<key>showValue</key>
			<false/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<real>0.01</real>
			<key>PostNotification</key>
			<string>com.freemanrepo.mediaspeak7/reload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.1666</real>
			<key>defaults</key>
			<string>com.freemanrepo.mediaspeak7</string>
			<key>key</key>
			<string>speechRate</string>
			<key>rightImage</key>
			<string>hare.png</string>
			<key>leftImage</key>
			<string>turtle.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.freemanrepo.mediaspeak7/reload</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.freemanrepo.mediaspeak7</string>
			<key>key</key>
			<string>speakArtist</string>
			<key>label</key>
			<string>Speak artist's name</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.freemanrepo.mediaspeak7/reload</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.freemanrepo.mediaspeak7</string>
			<key>key</key>
			<string>speakAlbum</string>
			<key>label</key>
			<string>Speak album's name</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>followTwitter</string>
			<key>icon</key>
			<string>Twitter@2x.png</string>
			<key>label</key>
			<string>@freemanrepo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>donateBtn</string>
			<key>icon</key>
			<string>PayPal@2x.png</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2014 Majd Alfhaily</string>
		</dict>
	</array>
	<key>title</key>
	<string>MediaSpeak7</string>
</dict>
</plist>
